<!-- url_shortener/templates/url_shortener/user_urls.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Shortened URLs</title>
</head>
<body>
    <h1>My Shortened URLs</h1>
    <ul>
        {% for url in user_urls %}
            <li>
                <a href="{{ url.short_url }}">{{ url.original_url }}</a>
                - {{ url.short_url }}
                - {{ url.views }} views
            </li>
        {% endfor %}
    </ul>
</body>
</html>
